$primary: #0d47a1;    // deep navy
$secondary: #1565c0;  // medium blue
$success: #0077a8;    // blue-teal
$info: #0288d1;       // info blue
$warning: #256fb2;    // darker sky
$danger: #092a66;     // very dark blue
$light: #d6eefc;      // light icy blue
$dark: #021628;       // almost-black blue

// body
$body-bg: #021627;
$body-color: #cfeaff;

// links
$link-color: darken($body-color, 10%);
$link-hover-bg-color: lighten($body-bg, 8%);

// navbar
$navbar-bg: $primary;